.styleTitle {
  color: white;
  cursor: pointer;
  text-decoration: unset;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.linkTabs:hover {
  font-weight: bold;
}
.linkTabs:active {
  transform:translateY(1px);
}
.alignCenter {
  text-align: center;
}

.alignCenter h3, .styleHeading {
  color: rgb(20,129,211);
}

.alignCenter p {
  font-size: large;
  margin-top: -10px;
}

.styleForm button{
  float: left;
  padding: 6px 10px;
  background-color: rgb(20,129,211);
  color: white;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.styleForm input {
  float:left;
  width: 50%;
  font-size: 14px;
  padding: 6px;
  margin-right: 5px;
}

.styleRow {
  border: 2px solid rgb(20,129,211);
  margin: 20px;
  padding: 20px;
  overflow: auto;
}
.styleBook {
  border-bottom: 2px solid rgb(20,129,211);
  padding: 0 20px;
  overflow: auto;
}

.styleImage {
  width: 128px;
  height: auto;
  margin: 0 20px 20px 0;
  float: left;
}

.styleGrid {
  overflow: auto;
}

.grayHeart {
  color: gray;
  float: right;
  font-size: x-large;
}

.redHeart {
  color: red;
  float: right;
  font-size: x-large;
}

.viewButton {
  float: right;
  padding: 6px;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 0 10px 5px;
  background-color: rgb(20,129,211);
}

.viewButton a {
  color: white;
  text-decoration: none;
}

.trashButton {
  float: right;
  font-size: x-large;
  padding: 6px;
  cursor: pointer;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 16px;
  height: 16px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  float: left;
  margin-left: 10px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}